@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --green1: #E8F1ED;
  --green2: #6AB83A;
  --green3: #00502E;
  --green4: #DEE8CF;
  --blue1:  #2F90CF;
  --blue2: #1F6AA1;
  --blue3: #224677;
  --orange1: #F39C14;
  --orange2: #Ed7620;
  --orange3: #E94C26;
  --white2: #E0E0E0;
}

:root {
  --content-per-page: 2; /* Default for larger screens */
}

@media (max-width: 500px) {
  :root {
    --content-per-page: 1; /* Adjust for small screens */
  }
}

@layer utilities {

  .text-green-1 {color: #CADB49;}
  .text-green-2 {color: var(--green2);}
  .text-green-3 {color: var(--green3);}
  .text-green-3-half {color: rgb(0, 80, 46, 0.1);}
  .text-white-2 {color: var(--white2)}
  .bg-green-1 {background-color: var(--green1);}
  .bg-green-4 {background-color: var(--green4);}
  .bg-green-3 {background-color: var(--green3);}
  .border-green-3{border-color: var(--green3);}

  .bg-radial-gray {
    background-image: radial-gradient(#ffffff, #ffffff, #E0E7E7);
  }
  .box-shadow-1 { box-shadow: 0px 5px 20px 5px rgb(0, 0, 0, 0.15);}
  .box-shadow-2 { box-shadow: 8px 4px 20px 5px rgb(0, 0, 0, 0.25);}
  .box-shadow-3 { box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.15);}
  .box-shadow-4 { box-shadow: 0px 30px 30px 0px rgb(0, 0, 0, 0.08);}

}

.client-scroll-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-center;
  overflow-x: scroll;
  cursor: grab
}

/* Styling for webkit browsers like Chrome, Safari, Opera */

::-webkit-scrollbar {
  display: none;
}

.client-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
